<div class="nav menu is-centered">

    <div class="field">
        <div class="control">
            <input class="input is-primary item-info" type="text" placeholder="Введите описание">
            <input type="file" class="input-files" multiple accept="image/jpeg,image/png">
        </div>
    </div>



<a class="nav-item is-tab " >
        <span class="icon-btn add">
            <i class="fa fa-plus"></i>
        </span>
        <strong class="add" style="color: white; padding-left: 7px">Добавить</strong>
    </a>

</div>