<div class="nav menu columns is-centered">

    <div class="field column is-half is-narrow">
        <h1 class="title">
            Добавление новой вещи
        </h1>
        <div class="control">
            <input class="input is-primary item-info" type="text" placeholder="Введите описание">
            <input class="is-primary" type="text" placeholder="Введите дату" id="datepicker">
            <input type="file" class="input-files" multiple accept="image/jpeg,image/png">
        </div>
        <div class="column container map">
            <p>Выберите место в сторке поиска</p>
            <div id="small-map" style="width: 400px; height: 200px"></div>
        </div>


        <a class="nav-item is-tab column is-3">
        <span class="icon-btn add">
            <i class="fa fa-plus"></i>
        </span>
            <strong class="add " style="color: white; padding-left: 7px">Добавить</strong>
        </a>

    </div>
</div>
<div id="modal-val" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Ошибка!</p>
            <button id="close-val" class="delete close" aria-label="close"></button>
        </header>
        <section class="modal-card-body is-centered">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        Проверьте, заполнены ли все поля формы.
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
