<div class="container">
    <div class="nav-left">
        <a class="nav-item">
            <img src="img/logo.png" alt="Description">
        </a>
        <% if(user) {%>
        <div class="nav-item"><h5 class="title is-5"><%- user.displayName%></h5></div>
        <%}%>
    </div>
    <div class="nav-right nav-menu">
            <a class="nav-item is-tab" href="#home">Главная</a>
            <a class="nav-item is-tab" href="#about">О сервисе</a>
        <% if(user)%>


        <span class="nav-item">
                <a class="button is-default log-out" href="#home">
                  Выйти
                </a>
        </span>
        <%else%>

        <span class="nav-item">
                <a class="button is-default log-in" href="#profile">
                  Войти
                </a>
        </span>


    </div>
</div>

