<div class="container is-centered">
    <% if (user) {%>
        <% var count = 0; %>

            <% for (var id in items){ %>
        <% if( count===0 ) { %>
        <div class="columns">
            <% } %>
            <div class="column is-4" >
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= items[id].ref.downloadURL %>" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="panel-block-item ">
              <span class="likes">
                <%- items[id].description %>
              </span>
                        </div>
                        <div class="panel-block-item">
                            <span class="likes">
                               Дата вывоза: <%- items[id].dateLabel %>
                            </span>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item del" data-id="<%= id %>" data-path="<%= items[id].ref.fullPath %>" >Delete</a>
                    </footer>
                </div>
            </div>
            <% count++; %>
            <% if( count%3===0 && count!=0 ) { %>
        </div><div class="columns">
        <% } %>

            <% } %>


    <% } %>
</div>