<div class="container profile">
    <div class="nav menu is-centered">
        <a class="nav-item is-tab ">
        <span class="icon-btn">
            <i class="fa fa-plus"></i>
        </span>
            <strong style="color: white; padding-left: 7px">Добавить</strong>
        </a>
    </div>
    <div class="columns">

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>
    </div>
    <div class="columns">

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://placehold.it/1280x960" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item ">
              <span class="likes">
                nastya
              </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Edit</a>
                    <a class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>
    </div>
</div>