<div class="nav menu columns is-centered">
    <div class="field column is-half is-narrow">
        <h1 class="title">
            Параметры отображения
        </h1>
        Отобразить с:
        <input class="is-primary" type="text" placeholder="Введите дату" id="datepicker1">
        по:
        <input class="is-primary" type="text" placeholder="Введите дату" id="datepicker2">
        <div class="column">
            <a class="button is-info is-outlined sort">Отобразить</a>
        </div>
    </div>
</div>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Ошибка!</p>
            <button class="delete close" aria-label="close"></button>
        </header>
        <section class="modal-card-body is-centered">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        Проверьте правильность ввода даты.
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>