<div class="nav menu columns is-centered">
    <div class="field column is-half is-narrow">
        <h1 class="title">
            Параметры отображения
        </h1>
        Отобразить с:
        <input class="is-primary" type="text" placeholder="Введите дату" id="datepicker1">
        по:
        <input class="is-primary" type="text" placeholder="Введите дату" id="datepicker2">
        <div class="column">
            <a class="button is-info is-outlined sort">Отобразить</a>
        </div>
    </div>
</div>