<div class="column is-9">
    <p class="subtitle is-4">
        С помощью данного сервиса человек может избавить себя от лишнего хлама в квартире. В
        первую очередь речь идет о тех вещах, которые пригождаются довольно редко и занимают и
        без того небольшое жизненное пространство, например, сезонная обувь и одежда, лыжи,
        велосипеды, новогодние елочные украшения и так далее. Словом, все то, что мы привыкли
        хранить в шкафах, на балконах, под кроватями и в других местах. Но решившись вывести эти
        вещи, вы забываете про них, превращая свой гараж или дачу в склад хлама, в котором сами
        не знаете что лежит.
        Как только вы почувствовали себя стесненными ненужными вещами, собирайте их и смело
        вывозите на дачу или в свой гараж. Не забудьте сфотографировать вывозимые вещи. Придя
        домой просто загрузите эти фотографии в наш сервис, добавив к ним описание и дату, когда
        вы увезли вещь. Таким образом создастся каталог вывезенных вами вещей, к которому вы
        можете обратиться в любое время. Проще говоря, из квартиры все предметы "перемещаются" в
        наш сервис. Как только наступила зима, и вам снова понадобилась лыжи или доска для
        сноуборда, вы теперь точно будете знать, где она находится.

    </p>
    <br>
</div>